html,
* {
  margin: 0;
  padding: 0;
}

.ad {
  background-color: #f1f1f1;
  padding: 1rem;
  border: 1px dashed #ccc;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 10px 5px;
}

p {
  margin: 10px 5px;
  text-align: justify;
  line-height: 1.5rem;
}

button {
  all: unset;
  cursor: pointer; /* usually you'd want to add this back */
}
